.header {
    z-index: 2;
    padding: 15px;
    margin-bottom: 10px;
    min-height: 30px;
    background-color: #181926;
}

.headerLinks {
    color: #cad3f5;
    text-decoration: none;
    margin-right: 60px;
    padding: 5px;
    font-size: x-large;
}

.headerContainer {
    width: 50%;
    display: inline-block;
}
